# UltimateCleaner .env 範例
# 注意：等號兩側不要有空格；# 為註解

TASK_NAME=SystemCleanup
CLEAN_TIME=06:00PM
Script_PATH=D:\git\clean-win
WinMemoryCleaner_PATH=C:\Apps\WinMemoryCleaner\WinMemoryCleaner.exe
RAM_THRESHOLD_PERCENT=22.5
